<div id="" style="height:60px;float:left;width:100%">
<table class="table" style="color: #DA754D;">
	<tr>
	 
	 @ var i=0;
	 @ var names = ['3','5','6','10','12'];
     @for(name in names){
		<td onclick="material(this,'jl')" style="font-size: 18px;padding:8px 12px 2px;">${name}</td>
	 @}	
	 </tr>
	 <tr>
	 @ var j=0;
	 @ var names1 = ['15','20','25','30','35'];
     @for(name1 in names1){
	<td onclick="material(this,'jl')" style="font-size: 18px;padding:4px 12px 2px;">${name1}</td>
	 @}	
	 </tr>
</table>
</div>

