					<h2>舌象</h2>	
    				<div>
    				<p class="title">舌苔</p>
    				<ul>
    					<li><a href="#">黄</a></li>
    					<li><a href="#">白</a></li>
    					<li><a href="#">厚</a></li>
    					<li><a href="#">薄</a></li>
    					<li><a href="#">腻</a></li>
    					<li><a href="#">滑</a></li>
    					<li><a href="#">少</a></li>
    					<li><a href="#">干</a></li>
    					<li><a href="#">剥落</a></li>
    					<li><a href="#">黑灰</a></li>
    					<li><a href="#">腐垢</a></li>
    				</ul>
    				</div>
    				<div>
    				<p class="title">舌质</p>
    				<ul>
    					<li><a href="#">红</a></li>
    					<li><a href="#">淡</a></li>
    					<li><a href="#">嫩</a></li>
    					<li><a href="#">青</a></li>
    					<li><a href="#">暗紫</a></li>
    					<li><a href="#">瘀斑</a></li>
    					<li><a href="#">绛紫</a></li>
    					<li><a href="#">芒刺</a></li>
    					<li><a href="#">舌尖红</a></li>
    					<li><a href="#">舌裂</a></li>
    					<li><a href="#">舌边齿痕</a></li>
    				</ul>
    				</div>
    				<div>
    				<p class="title">舌体</p>
    				<ul>
    					<li><a href="#">瘦</a></li>
    					<li><a href="#">缩短</a></li>
    					<li><a href="#">萎软</a></li>
    					<li><a href="#">肿</a></li>
    					<li><a href="#">胖</a></li>
    					<li><a href="#">纵驰</a></li>
    					<li><a href="#">卷缩</a></li>
    					<li><a href="#">强直</a></li>
    					<li><a href="#">歪斜</a></li>
    					<li><a href="#">颤动</a></li>
    				</ul>
    				</div>