<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cdutcm.tcms.biz.mapper.FollowUpMapper">
    <resultMap id="BaseResultMap" type="com.cdutcm.tcms.biz.model.FollowUp">
        <id property="id" column="id"/>
        <result property="account" column="account"/>
        <result property="teacherName" column="teacher_name"/>
        <result property="use" column="use"/>
    </resultMap>

    <insert id="insert" parameterType="com.cdutcm.tcms.biz.model.FollowUp">
        insert into follow_up (account, teacher_name) values (#{account},#{teacherName})
    </insert>
    <update id="updataUse" parameterType="com.cdutcm.tcms.biz.model.FollowUp">

        update follow_up set `use` = 1 where id = #{id};
    </update>
    <update id="useInit" parameterType="string">
        update follow_up set `use` = 0 where account = #{account};
    </update>

    <update id="choose">
        update follow_up set `use` = 1 where id = #{id};
    </update>

    <delete id="delete" parameterType="java.lang.Long">
        delete from follow_up where id = #{id}
    </delete>

    <select id="getByAccount" resultMap="BaseResultMap">
        select * from follow_up where account = #{account}
    </select>

</mapper>