.title-time {
  line-height: 35px;
  padding: 0 2%;
  font-size: 16px;
}
.title-time .control-group {
  height: 35px;
}
.title-time .date {
  margin: 0 10px;
  width: 150px;
  height: 35px;
}
.title-time .date input {
  border-radius: 5px !important;
}
.title-time #patientName {
  border-radius: 5px !important;
}
.title-time .search {
  width: 50px;
  border-radius: 5px !important;
  background: #74D5CB;
  outline: none;
  border: none;
  color: #ffffff;
  line-height: 32px;
}
.scroller {
  overflow: visible;
}
.scroller .scroller-table {
  font-size: 16px;
  width: 99%;
  margin: 10px auto;
  box-shadow: -4px 4px 8px #e7e7e7;
  border-radius: 5px !important;
  padding: 1%;
  min-height: 500px;
}
.scroller .scroller-table table {
  text-align: center;
}
.scroller .scroller-table table th {
  text-align: center;
  border-bottom: 1px solid #eeeeee;
  padding: 15px 0;
}
.scroller .scroller-table table td {
  text-align: center;
  border-bottom: 1px solid #eeeeee;
  padding: 15px 0;
  cursor: default;
}
.scroller .scroller-table table td.active {
  color: #37AAB4;
}
.scroller .scroller-table table tr:last-child td {
  border: none;
}
.scroller .page-div {
  text-align: right;
}
.scroller .page-div .pagination li a {
  margin: 0 5px;
  border-radius: 5px !important;
  color: #333333;
}
.scroller .page-div .pagination li a.myPage {
  background: #74D5CB;
  color: #ffffff;
}
.message {
  width: 99%;
  margin: 0 auto;
  box-shadow: -4px 4px 8px #e7e7e7;
  border-radius: 5px !important;
  padding: 1%;
}
.message .newMes div {
  font-size: 16px;
  line-height: 30px;
  display: inline-block;
  width: 49%;
}
.message .newMes div:nth-child(even) {
  padding-left: 4%;
}
.message .newMes div:nth-child(odd) {
  border-right: 1px solid #eeeeee;
  padding-right: 4%;
}
.message .newMes div span {
  display: inline-block;
  margin: 10px;
}
.message .newMes div a {
  float: right;
  display: inline-block;
  margin: 10px;
  color: #74D5CB;
}
.dropdown-menu {
  left: 50px;
  border-radius: 5px !important;
}
.dropdown-menu li a.active {
  background: #74D5CB;
  color: #ffffff;
}
.sale {
  color: #74D5Cb;
}
#cutPrice,
#showCutPrice,
#sendMse {
  display: none;
  box-shadow: 0px 0px 4px #CCCCCC;
  width: 200px;
  z-index: 9999;
  position: absolute;
  padding: 10px;
  background: #F7F7F7;
  border-radius: 5px!important;
}
#cutPrice ul li,
#showCutPrice ul li,
#sendMse ul li {
  line-height: 30px;
  text-align: center;
  cursor: default;
}
#cutPrice ul li input,
#showCutPrice ul li input,
#sendMse ul li input {
  border: none;
  border-bottom: 2px solid #9FD1F0;
  height: 30px;
  background: transparent;
  text-align: center;
  width: 40%;
}
#cutPrice ul li button,
#showCutPrice ul li button,
#sendMse ul li button {
  margin-top: 10px;
  height: 25px;
  padding-top: 2px;
  color: #74D5CA;
  border-radius: 5px!important;
  border: 1px solid #74D5CA;
}
#cutPrice ul li button:hover,
#showCutPrice ul li button:hover,
#sendMse ul li button:hover {
  background: #74D5CA;
  color: #ffffff;
}
.layui-layer-iframe {
  overflow: hidden;
  border-radius: 8px!important;
}
.layui-layer-iframe iframe,
.layui-layer-content {
  height: 100%!important;
  /*定义滚动条高宽及背景*/
  /*定义滚动条*/
}
.layui-layer-iframe iframe::-webkit-scrollbar-track,
.layui-layer-content::-webkit-scrollbar-track {
  background-color: #F5F5F5;
}
.layui-layer-iframe iframe::-webkit-scrollbar,
.layui-layer-content::-webkit-scrollbar {
  width: 5px;
  background-color: #a2a2a2;
}
.layui-layer-iframe iframe::-webkit-scrollbar-thumb,
.layui-layer-content::-webkit-scrollbar-thumb {
  background-color: #cccccc;
}
/*# sourceMappingURL=pharmacy.css.map */