.btn{
    border-radius:0;
}
.btn-default{
    background:#fff;

    color:#cf3535;
    border-color:#cf3535;
}
.table > tbody > tr > td{
    text-align:center;
    border:none!important;
    vertical-align:unset!important;
    background-color:#E9EDEE!important;
}
.table > tbody > tr td:first-child{
    background: linear-gradient(to right,#fff 50%,#E9EDEE 50%);
}
.table > tbody > tr td:last-child{
    background:transparent!important;
}
.table > tbody > tr.success td{
    background-color:#cf3535!important;
    color:#fff;
}
.table > tbody > tr.success td:first-child{
    background: linear-gradient(to right,#fff 50%,#cf3535 50%);
}
.table > tbody > tr.success td:last-child{
    background:transparent!important;
}

.table > thead > tr > th{
    border:none;
    color:#cf3535;
    text-align:center;
}